services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - SUPABASE_URL=${SUPABASE_URL}
      - SUPABASE_KEY=${SUPABASE_KEY}
      - SERVICE_ROLE_KEY=${SERVICE_ROLE_KEY}
    env_file:
      - .env
    restart: unless-stopped